
form{
    padding-top: 20px;
    background-color: aliceblue;
}

form h3{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 1rem;
    color: black;
}

form input{
    width : 390px;
    height: 55px;
    font-size: 17px;
}

form button{
    width: 100px;
    padding: 5px;
    height: 30px;
    font-size: 17px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}


